.countries-page{
    padding: 10px;
}

.countries-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.countries-title{
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
    color: rgb(19, 122, 129);
}